@import 'tailwindcss';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --font-sans: 'Plus Jakarta Sans', 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
    
    --color-deep-teal: #1F3F3D;
    --color-soft-teal: #2F5D5A;
    --color-mint-soft: #7BA7A3;
    --color-warm-beige: #EADBC8;
    --color-cream: #F6EFE6;
    --color-soft-orange: #E59A5A;
}
